Build/cmake_install.cmake
Build/CMakeCache.txt
Build/Makefile
Build/out_2.txt
Build/out.txt
Build/pars_book.exe
Build/test.txt
Build/CMakeFiles/cmake.check_cache
Build/CMakeFiles/CMakeConfigureLog.yaml
Build/CMakeFiles/CMakeDirectoryInformation.cmake
Build/CMakeFiles/Makefile.cmake
Build/CMakeFiles/Makefile2
Build/CMakeFiles/progress.marks
Build/CMakeFiles/TargetDirectories.txt
Build/CMakeFiles/3.28.1/CMakeCCompiler.cmake
Build/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
Build/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
Build/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
Build/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
Build/CMakeFiles/3.28.1/CMakeSystem.cmake
Build/CMakeFiles/3.28.1/CompilerIdC/a.exe
Build/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
Build/CMakeFiles/3.28.1/CompilerIdCXX/a.exe
Build/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Build/CMakeFiles/pars_book.dir/build.make
Build/CMakeFiles/pars_book.dir/cmake_clean.cmake
Build/CMakeFiles/pars_book.dir/compiler_depend.internal
Build/CMakeFiles/pars_book.dir/compiler_depend.make
Build/CMakeFiles/pars_book.dir/compiler_depend.ts
Build/CMakeFiles/pars_book.dir/contents.cpp.obj
Build/CMakeFiles/pars_book.dir/contents.cpp.obj.d
Build/CMakeFiles/pars_book.dir/depend.make
Build/CMakeFiles/pars_book.dir/DependInfo.cmake
Build/CMakeFiles/pars_book.dir/flags.make
Build/CMakeFiles/pars_book.dir/link.txt
Build/CMakeFiles/pars_book.dir/linkLibs.rsp
Build/CMakeFiles/pars_book.dir/main.cpp.obj
Build/CMakeFiles/pars_book.dir/main.cpp.obj.d
Build/CMakeFiles/pars_book.dir/objects.a
Build/CMakeFiles/pars_book.dir/objects1.rsp
Build/CMakeFiles/pars_book.dir/progress.make
Build/CMakeFiles/pars_book.dir/search.cpp.obj
Build/CMakeFiles/pars_book.dir/search.cpp.obj.d
Build/CMakeFiles/source.dir/build.make
Build/CMakeFiles/source.dir/cmake_clean.cmake
Build/CMakeFiles/source.dir/compiler_depend.make
Build/CMakeFiles/source.dir/compiler_depend.ts
Build/CMakeFiles/source.dir/depend.make
Build/CMakeFiles/source.dir/DependInfo.cmake
Build/CMakeFiles/source.dir/flags.make
Build/CMakeFiles/source.dir/link.txt
Build/CMakeFiles/source.dir/linkLibs.rsp
Build/CMakeFiles/source.dir/objects1.rsp
Build/CMakeFiles/source.dir/progress.make
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
Все задания 20240318.docx
Build/inform.txt
Build/out_cont.txt
Build/out_content_2.txt
alg.txt
Build/out_stream.txt
Build/out_content.txt
обсудить.txt
Build/add_tag.txt
Build/out_find_title.txt
Build/test_out.txt
Build/CMakeFiles/pars_book.dir/search.cpp.o.d
Build/CMakeFiles/pars_book.dir/search.cpp.o
*.o
*.out
Build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
Build/CMakeFiles/pars_book.dir/main.cpp.o.d
Build/out_2_wstring.txt
Build/out_tolower.txt
Build/pars_book
Build/CMakeFiles/CMakeOutput.log
Build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
Build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
Build/CMakeFiles/pars_book.dir/contents.cpp.o.d
Build/CMakeFiles/3.22.1/CMakeSystem.cmake
Build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
Build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
